<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header"  th:content="${_csrf.headerName}"/>-->
    <script th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src="@{https://cdn.bootcss.com/limonte-sweetalert2/7.1.2/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/base.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.bootcss.com/limonte-sweetalert2/7.1.2/sweetalert2.min.css}" rel="stylesheet"/>
    <title>订单中心</title>
    <script th:inline="javascript">
        //<![CDATA[
        var tale = new $.tale();
        $(function () {
            var user=window.localStorage.getItem("access_user");
            console.log(user);
            if(user==null){
                window.location.href="/login";
            }else{
                user=JSON.parse(user)
                tale.post({
                    url: '/orders/'+user.username,
                    type:"GET",
                    success: function (result) {
                        if (result && result.code==1) {
                            $.each(result.data,function (index, orders) {
                                var row='<tr class="row">'+
                                    '<td class="col-md-2">'+
                                        '<a href="/orders/detail?orderId='+orders.id+'">'+orders.id+'</a>'+
                                    '</td>'+
                                    '<td class="col-md-2">'+orders.orderDate+'</td>'+
                                    '<td class="col-md-2">￥'+orders.orderAmount+'</td>'+
                                    '<td class="col-md-2">'+orders.orderState+'</td>'+
                                    '<td class="col-md-2">'+orders.sendDate+'</td>'+
                                    '<td class="col-md-2">'+orders.receiveDate+'</td> </tr>'
                                $("#tbody").append(row);
                            })
                        }
                    }
                });
            }

        })
        //]]>
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Shop</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="${'/goods/page/1'}">首页</a>
                </li>
            </ul>
            <ul id="login" style="display: none;" class="nav navbar-nav navbar-right">
                <li><a href="/login">登录</a></li>
                <li><a href="/register">注册</a></li>
            </ul>
            <ul id="welcome" style="display: none;" class="nav navbar-nav navbar-right">
                <li>
                    <a id="var1" href="#"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="var2">购物车</a></li>
                        <li><a id="var3">订单</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="logout()">注销</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <!--订单展示-->
    <table class="container-fluid" align="center" border="1">
        <thead class="row">
        <tr class="row">
            <th class="col-md-2">订单ID</th>
            <th class="col-md-2">下单日期</th>
            <th class="col-md-2">订单金额</th>
            <th class="col-md-2">订单状态</th>
            <th class="col-md-2">发货时间</th>
            <th class="col-md-2">签收时间</th>
        </tr>
        </thead>
        <tbody class="row" id="tbody">

        </tbody>
    </table>
    <hr/>
</body>
</html>