<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header"  th:content="${_csrf.headerName}"/>-->
    <script th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <title>首页</title>
</head>
<script>
    $(function () {
        window.location.href="/goods/page/1"
    })
</script>
<body>

</body>
</html>