<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
    <script th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src="@{https://cdn.bootcss.com/limonte-sweetalert2/7.1.2/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/base.js}"></script>
    <script th:src="@{/js/user/login.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.bootcss.com/limonte-sweetalert2/7.1.2/sweetalert2.min.css}" rel="stylesheet"/>
    <title>首页</title>
    <script>
        $(function () {
            console.log(window.location.href);
        })
    </script>
</head>
<body>
<div style="margin: 0 auto; padding-bottom: 0%; padding-top: 7.5%; width: 380px;">

</div>
</body>
</html>